.product-price-red{
    font-weight: 900 !important;
    padding: 8px !important;
    text-align: center;
    background-color: #a51111;
    color: white !important;
}


.product-price-green{
    font-weight: 900 !important;
    padding: 8px !important;
    text-align: center;
    background-color: #01666b !important;
    color: white !important;
}